@import "../Variables";

.MatchDay {
    margin: 8px;
    width: 300px;
    display: inline-block;
    background: #ffffff;
    border-radius: 6px;
    border: $primary-border-color 1px solid;

    .Title {
        font-size: 17px;
        font-weight: bolder;
        font-family: $title-font-family;
        border-bottom: $primary-border-color 1px solid;
        width: 100%;
        padding: 14px 0;
        background: #f3f3f6;
        border-radius: 6px 6px 0 0;
    }

    .RestTeam {
        border-top: $primary-border-color 1px solid;
        padding: 12px 0;
        color: #096d09;
        background: #baccc2;
        border-radius: 0 0 6px 6px;
    }
}